.containet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.food {
  border: 1px solid tomato;
  padding: 10px;
  border-radius: 10px;
}
.food img {
  width: 90%;
}

/* Smaller Device */
@media screen and (max-width: 576px) {
  .containet {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .containet {
    grid-template-columns: repeat(2, 1fr);
  }
}
